.border{
  border: 1px solid red;
}

/*
弹性  横向布局  不重复
*/
.flex-row-nowarp{
  display: flex;
  flex-flow: row nowrap;
}

/* 弹性 纵向布局 不重复*/

.flex-col-nowrap{
  display: flex;
  flex-flow: column nowrap;
}

/*对齐 纵向- 居中*/
.align-col-center{
  align-items: flex-end;

}
/*对齐横向居中*/
.align-row-center{
  justify-content: center;
}
/*对齐 纵向 底部*/
.align-col-end{
  align-items: flex-end;
}
/*对齐 横向 居右*/
.align-row-right{
  justify-content: flex-end;
}
/*相对定位*/
.position-rela{
  position: relative;

}
/*绝对定位*/
.position-abs{
  position: absolute;
}
